# Compiled Java class files
**/bin/
**/*.class

# VSCode settings
**/.vscode/settings.json

# OS files
.DS_Store
Thumbs.db

# LaTeX auxiliary files
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.synctex.gz
